<!DOCTYPE html>
{% load static %}
<html>
    <head lang="en">
        <link rel="stylesheet" href="{% static "css/base.css" %}"/>
        <meta charset="UTF-8"/>
        <title>
            Login
        </title>
    </head>
    <body>
        <h1>Login</h1>
        <div class="contenido">
            <p>Por favor autentiquese</p>
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="boton" type="submit" value="submit" />
            </form>
            <br>
            <a class="boton" href="{% url 'core:home' %}">Home</a>
        </div>
        <br>
        <div class="derechos">Desarrollado por Elena y Ángel (All rights reserved)</div>
    </body>
</html>