<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8"/>
        <title>
            Login
        </title>
    </head>
    <body>
        <div>
            <h1>Login</h1>
            <p>Por favor autentiquese</p>
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="submit" />
            </form>
        </div>
        <a href="{% url 'core:home' %}">Home</a>
    </body>
</html>