{% extends 'core/base.html' %}

{%block title_block %}
    Apply pair
{% endblock %}

{% block body_block %}
    <h1>Apply Pair</h1>
    {% if pareja_mismo_usuario %}
        {{pareja_mismo_usuario}}

    {% else %}
    <p class="contenido">Select the second</p>
    <p class="contenido">Por favor, elija su compañero de prácticas.<br>
    Para que la pareja sea validada su compañero deberá volver a hacer el proceso y elegirlo.</p>
    <div class="contenido">
        <form id="eleccion" name="eleccion" method="POST" action="{% url 'core:applypair' %}">
            {% csrf_token %}
            <label for="companero">Elige un compañero:</label>

            <select name="colegas" id="colegas">
                {% for s in students %}
                    <option id="seleccion" name="seleccion" value={{s.id}}>>{{s.last_name}}, {{s.first_name}}</option>
                {% endfor %}
            </select> 

            <input class="elegir" type="submit" value="Elegir" />
        </form>
    </div>
    {%endif%}
{% endblock %}