<!DOCTYPE html>
{% load static %}
<html>
    <head lang="en">
        <link rel="stylesheet" href="{% static "css/base.css" %}"/>
        <meta charset="UTF-8"/>
        <title>
            Core -
            {% block title_block %}
               
            {% endblock %}
        </title>
    </head>
    <body>
        <div>
            {% block body_block %}
            {% endblock %}
        </div>
        <br/>
        <div id="lista">
            <ul>
                {% if user.is_authenticated %}
                    <li><a class="lista" href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li><a class="lista" href="{% url 'login' %}">Login</a></li>
                {% endif %}
                    <li><a class="lista" href="{% url 'core:home' %}">Index</a></li>
            </ul>
        </div>
    </body>
</html>