<!DOCTYPE html>
{% load static %}
<html>
    <head lang="en">
        <link rel="stylesheet" href="{% static "css/base.css" %}"/>
        <meta charset="UTF-8"/>
        <title>
            Core -
            {% block title_block %}
               
            {% endblock %}
        </title>
    </head>
    <body>
        <div>
            {% block body_block %}
            {% endblock %}
        </div>
        <br/>
        </br>
        </br>
        <div id="lista">
                {% if user.is_authenticated %}
                <a class="lista" href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                <a class="lista" href="{% url 'login' %}">Login</a></li>
                {% endif %}
                <a class="lista" href="{% url 'core:home' %}">Index</a></li>
        </div>
        <br>
        <div class="derechos">Desarrollado por Elena y Ángel (All rights reserved)</div>
    </body>
</html>