{% extends 'core/base.html' %}

{%block title_block %}
    Home
{% endblock %}

{% block body_block %}
    <h1>Home</h1>
    <div class="contenido">
        <div class="informacion">
        {% if user.is_authenticated %}
            <p id="summary">Summary page for <b>{{ user.first_name }}</b></br></p>
            Nombre: <div id="nombre">{{ user.first_name }}</div>
            </br>
            Apellidos: <div id="apellidos">{{ user.last_name }}</div>
            </br>
            Estado de convalidación: <div id="grupo">{{ user.convalidationGranted }}</div>
            </br>
            Grupo practicas: <div id="grupo">{{ user.labGroup }}</div>
            </br>
            {% for p in pairs %}
                {% if user.id == p.student1.id or user.id == p.student2.id%}
                    Pareja:
                    </br>
                    - Estudiante 1: <div id="nombre">{{ p.student1.first_name }} {{ p.student1.last_name }}</div>
                    </br>
                    - Estudiante 2: <div id="apellidos">{{ p.student2.first_name }} {{ p.student2.last_name }}</div>
                    </br>
                    - Validated: <div id="grupo">{{ p.validated }}</div>
                </br>
            </br>
                {% endif %}
            {% endfor %}
        </div>  
        
            {% if user.es_pareja == 0 %}
                {% if user.convalidationGranted == False %}
                    <form  id="convalidation" method="POST" action="{% url 'core:convalidation' %}">
                        {% csrf_token %}
                        <input type="hidden" id="username" name="username" value={{user.username}} />
                        <input type="submit" class="boton" value="Convalidation" />
                    </form>
                {% endif %}
                <br>
                <a href="{% url 'core:applypair' %}"> <button class="boton" type="button">Elige un compañero</button></a>
                {{ convalidado }}
            {% endif %}
            </br></br>
            
            {% if user.esta_grupo == 0 %}
                <a href="{% url 'core:elegir_grupo' %}"> <button class="boton" type="button">Elige un grupo</button></a>
                {% if user.es_pareja == 1 %}
                        <a href="{% url 'core:breakpair' %}"> <button class="boton" type="button">Romper pareja</button></a>
                {% endif %}
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
